VITE_API_URL=http://localhost:2137/api
VITE_PANEL_API_URL=http://localhost:2138/api
X_MAL_CLIENT_ID=
DB_USER=blindopenings
DB_PASS=blindopenings
DB_NAME=blindopenings
DB_PANEL_USER=blindopenings-panel
DB_PANEL_PASS=blindopenings-panel
DB_PANEL_NAME=blindopenings-panel
API_LISTS=http://localhost:2137
VIDEO_DIR=tutaj/musisz/uzupełnić/scieżke/do/plików/video
IMAGE_DIR=tutaj/musisz/uzupełnić/scieżke/do/plików/plakatów
API_IMAGES=endpoint/do/pobrania/plakatow
