PORT_FORM_WEB=2137
PORT_PANEL_WEB=2138
VITE_FORM_API_URL=http://localhost:2137/api
VITE_PANEL_API_URL=http://localhost:2138/api
VITE_PANEL_IMAGES_URL=http://localhost:2138/images
VITE_PANEL_VIDEOS_URL=http://localhost:2138/videos
X_MAL_CLIENT_ID=
DB_PANEL_HOST=panel-db
DB_FORM_USER=blindopenings
DB_FORM_PASS=blindopenings
DB_FORM_NAME=blindopenings
DB_PANEL_USER=blindopenings-panel
DB_PANEL_PASS=blindopenings-panel
DB_PANEL_NAME=blindopenings-panel
FORM_API=http://form-web
VIDEO_DIR=tutaj/musisz/uzupełnić/scieżke/do/plików/video
IMAGE_DIR=tutaj/musisz/uzupełnić/scieżke/do/plików/plakatów
API_IMAGES=endpoint/do/pobrania/plakatow
