services:
  php:
    volumes:
      - ./list-request/api:/app
  db:
    ports:
      - "3306:3306"
  panel-php:
    environment:
      API_IMAGES: ${API_IMAGES}
    volumes:
      - ./themes:/app
      - ./image:/image
  panel-db:
    ports:
      - "3307:3306"
