services:
  form-php:
    volumes:
      - ./form-api:/app
  form-db:
    ports:
      - "3306:3306"
  panel-php:
    environment:
      API_IMAGES: ${API_IMAGES}
    volumes:
      - ./panel-api:/app
      - ./image:/image
  panel-db:
    ports:
      - "3307:3306"
